.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

.weapon {
  background-color: rgba(10, 10, 10, 0.9);
  height: 75px;
}

.defense {
  background-color: rgb(125, 159, 99);
  height: 75px;
}

.support {
  background-color: rgb(76, 116, 161);
  height: 75px;
}

.offensive {
  background-color: rgb(139, 91, 81);
  height: 75px;
}

.agift {
  border: 2px dotted goldenrod;
}

.smalltext {
  font-size: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
